## Coursera "Applied Data Science Capstone" Project -- Week 3 -- Part 2
Segmenting and Clustering Neighborhoods in Toronto

In [3]:
import pandas as pd

In [19]:
# get the data and create the dataframe
url='https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
#We upload the first dataset where we save it as csv file in part 1
df=pd.read_csv('Capstone_part1.csv')
df.head()

,Unnamed: 0,Postal Code,Borough,Neighbourhood
0,0,M1ANot assigned,M2ANot assigned,M3ANorth York(Parkwoods)
1,1,M1BScarborough(Malvern / Rouge),M2BNot assigned,M3BNorth York(Don Mills)North
2,2,M1CScarborough(Rouge Hill / Port Union / Highl...,M2CNot assigned,M3CNorth York(Don Mills)South(Flemingdon Park)
3,3,M1EScarborough(Guildwood / Morningside / West ...,M2ENot assigned,M3ENot assigned
4,4,M1GScarborough(Woburn),M2GNot assigned,M3GNot assigned

In [26]:
df3 = pd.merge(df, df_geo, on = 'Postal Code')
df3

Empty DataFrame
Columns: [Unnamed: 0, Postal Code, Borough, Neighbourhood, Latitude, Longitude]
Index: []